In [11]:
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import os
import csv

Imprisonment_baseUrl = "https://api.ed.gov/data/mbk-imprisonment?"
Imprisonment_apiKey = "api_key=DTeVODnGRjLME8jd6PQCOy1DpgLqXPdHWtGO4EqA"
Imprisonment_perPage = "per_page=" + "195"
Imprisonment_url = Imprisonment_baseUrl + Imprisonment_apiKey + "&" + Imprisonment_perPage

#request and get data as "ImprisonmentData" through url
ImprisonmentData = requests.get(Imprisonment_url).json()

In [13]:
Imprisonment_length = len(ImprisonmentData["resources"])

YearList = [] 
RaceEthnicityList = []
SexLists = []
CountList = []
CountPerCapitaList = []

for i in range (Imprisonment_length):
    YearList.append(ImprisonmentData["resources"][i]["Year"])
    RaceEthnicityList.append(ImprisonmentData["resources"][i]["Race/ethnicity"])
    SexLists.append(ImprisonmentData["resources"][i]["Sex"])
    CountList.append(ImprisonmentData["resources"][i]["Count"])
    CountPerCapitaList.append(ImprisonmentData["resources"][i]["Rate per 100,000"])
        #YearList

ImprisonmentDf = pd.DataFrame({
    "years" : YearList,
    "Race/Ethnicity" : RaceEthnicityList,
    "Sex" : SexLists,
    "Count" : CountList,
    "Per Capita Rate per 100,000" : CountPerCapitaList
})
ImprisonmentDf

,years,Race/Ethnicity,Sex,Count,"Per Capita Rate per 100,000"
0,2000,None,None,218896,791
1,2001,None,None,219439,777
2,2002,None,None,220072,766
3,2003,None,None,218436,750
4,2004,None,None,207416,707
5,2005,None,None,200050,680
6,2006,None,None,196234,663
7,2007,None,None,197731,662
8,2008,None,None,199105,658
9,2009,None,None,201325,660
10,2010,None,None,198997,644
11,2011,None,None,192248,616
12,2012,None,None,180734,575
13,2000,None,Male,209543,1478
14,2001,None,Male,209658,1447
15,2002,None,Male,209710,1422
16,2003,None,Male,207921,1388
17,2004,None,Male,196906,1305
18,2005,None,Male,189298,1249
19,2006,None,Male,185418,1215
20,2007,None,Male,186631,1213
21,2008,None,Male,188035,1207
22,2009,None,Male,190118,1212
23,2010,None,Male,187699,1187
24,2011,None,Male,181510,1136
25,2012,None,Male,170734,1060
26,2000,None,Female,9089,67
27,2001,None,Female,9724,71
28,2002,None,Female,10336,74
29,2003,None,Female,10396,73
...,...,...,...,...,...
165,2009,"Black, non-Hispanic",Female,3207,145
166,2010,"Black, non-Hispanic",Female,3182,142
167,2011,"Black, non-Hispanic",Female,3097,135
168,2012,"Black, non-Hispanic",Female,2745,118
169,2000,Hispanic,Female,1596,73
170,2001,Hispanic,Female,1684,75
171,2002,Hispanic,Female,1841,81
172,2003,Hispanic,Female,1958,84
173,2004,Hispanic,Female,2100,89
174,2005,Hispanic,Female,2247,94
175,2006,Hispanic,Female,2403,99
176,2007,Hispanic,Female,2464,100
177,2008,Hispanic,Female,2407,94
178,2009,Hispanic,Female,2303,88
179,2010,Hispanic,Female,2291,78
180,2011,Hispanic,Female,2166,71
181,2012,Hispanic,Female,1847,60
182,2000,"Other race, non-Hispanic",Female,869,94
183,2001,"Other race, non-Hispanic",Female,988,104
184,2002,"Other race, non-Hispanic",Female,1052,108
185,2003,"Other race, non-Hispanic",Female,932,94
186,2004,"Other race, non-Hispanic",Female,964,97
187,2005,"Other race, non-Hispanic",Female,1289,129
188,2006,"Other race, non-Hispanic",Female,1410,140
189,2007,"Other race, non-Hispanic",Female,1429,140
190,2008,"Other race, non-Hispanic",Female,1361,132
191,2009,"Other race, non-Hispanic",Female,1208,115
192,2010,"Other race, non-Hispanic",Female,1154,91
193,2011,"Other race, non-Hispanic",Female,964,75
194,2012,"Other race, non-Hispanic",Female,1267,95

In [9]:
errorList = []
YearList = [] 
for i in range(0):
    #ImprisonmentDf = pd.DataFrame({
        pprint(ImprisonmentData["resources"][i]["index"])
        pprint(ImprisonmentData["resources"][i]["Year"])
        pprint(ImprisonmentData["resources"][i]["Race/ethnicity"])
        pprint(ImprisonmentData["resources"][i]["Sex"])
        pprint(ImprisonmentData["resources"][i]["Count"])
        pprint(ImprisonmentData["resources"][i]["Rate per 100,000"])
    #}#, index=[0]
    #)
print(YearList)

[]

In [10]:
#####THIS DOES NOT WORK YET
errorList = []
for i in range(1):
    try:
        ImprisonmentDf = pd.DataFrame({
                    "index" : ImprisonmentData["resources"][i]["index"],
                    "Year" : ImprisonmentData["resources"][i]["Year"],
                    "Race/ethnicity" : ImprisonmentData["resources"][i]["Race/ethnicity"],
                    "Sex" : ImprisonmentData["resources"][i]["Sex"],
                    "Count" : ImprisonmentData["resources"][i]["Count"],
                    "Rate per 100,000" : ImprisonmentData["resources"][i]["Rate per 100,000"]
                }#, index=[0]
                )    
    except:
        errorList.append(i)

        

#print(errorList)
print(ImprisonmentDf)
print("errorlist : ", errorList)

    years            Race/Ethnicity     Sex   Count  \
0    2000                      None    None  218896
1    2001                      None    None  219439
2    2002                      None    None  220072
3    2003                      None    None  218436
4    2004                      None    None  207416
5    2005                      None    None  200050
6    2006                      None    None  196234
7    2007                      None    None  197731
8    2008                      None    None  199105
9    2009                      None    None  201325
10   2010                      None    None  198997
11   2011                      None    None  192248
12   2012                      None    None  180734
13   2000                      None    Male  209543
14   2001                      None    Male  209658
15   2002                      None    Male  209710
16   2003                      None    Male  207921
17   2004                      None    Male  196906
18   2005                      None    Male  189298
19   2006                      None    Male  185418
20   2007                      None    Male  186631
21   2008                      None    Male  188035
22   2009                      None    Male  190118
23   2010                      None    Male  187699
24   2011                      None    Male  181510
25   2012                      None    Male  170734
26   2000                      None  Female    9089
27   2001                      None  Female    9724
28   2002                      None  Female   10336
29   2003                      None  Female   10396
..    ...                       ...     ...     ...
164  2008       Black, non-Hispanic  Female    3104
165  2009       Black, non-Hispanic  Female    3207
166  2010       Black, non-Hispanic  Female    3182
167  2011       Black, non-Hispanic  Female    3097
168  2012       Black, non-Hispanic  Female    2745
169  2000                  Hispanic  Female    1596
170  2001                  Hispanic  Female    1684
171  2002                  Hispanic  Female    1841
172  2003                  Hispanic  Female    1958
173  2004                  Hispanic  Female    2100
174  2005                  Hispanic  Female    2247
175  2006                  Hispanic  Female    2403
176  2007                  Hispanic  Female    2464
177  2008                  Hispanic  Female    2407
178  2009                  Hispanic  Female    2303
179  2010                  Hispanic  Female    2291
180  2011                  Hispanic  Female    2166
181  2012                  Hispanic  Female    1847
182  2000  Other race, non-Hispanic  Female     869
183  2001  Other race, non-Hispanic  Female     988
184  2002  Other race, non-Hispanic  Female    1052
185  2003  Other race, non-Hispanic  Female     932
186  2004  Other race, non-Hispanic  Female     964
187  2005  Other race, non-Hispanic  Female    1289
188  2006  Other race, non-Hispanic  Female    1410
189  2007  Other race, non-Hispanic  Female    1429
190  2008  Other race, non-Hispanic  Female    1361
191  2009  Other race, non-Hispanic  Female    1208
192  2010  Other race, non-Hispanic  Female    1154
193  2011  Other race, non-Hispanic  Female     964

    Per Capita Rate per 100,000
0                           791
1                           777
2                           766
3                           750
4                           707
5                           680
6                           663
7                           662
8                           658
9                           660
10                          644
11                          616
12                          575
13                         1478
14                         1447
15                         1422
16                         1388
17                         1305
18                         1249
19                         1215
20                         1213
21                         1207
22                         1212
23                         1187
24                         1136
25                         1060
26                           67
27                           71
28                           74
29                           73
..                          ...
164                         143
165                         145
166                         142
167                         135
168                         118
169                          73
170                          75
171                          81
172                          84
173                          89
174                          94
175                          99
176                         100
177                          94
178                          88
179                          78
180                          71
181                          60
182                          94
183                         104
184                         108
185                          94
186                          97
187                         129
188                         140
189                         140
190                         132
191                         115
192                          91
193                          75

[194 rows x 5 columns]
errorlist :  [0]